.itemListContainer {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  text-align: center;
  margin-top: 3em;
}

.itemListContainer h1 {
  color: #ffffff;
  font-size: 40px;
  font-weight: 700;
}

p {
  color: #ffffff;
  font-size: 16px;
}

.itemListContainer span{
  color: #ff8037;
}

.fav{
  color: #353535 !important;
  margin-left: 1em;
  transition: .2s ease
}
.fav:hover{
  cursor: pointer;
  color: rgb(245, 119, 119) !important;
}

.LoaderContainer {
  display: flex;
  justify-content: center;
}

.LoaderContainer img {
  width: 100px;
  overflow: hidden;
}
